.container
  .row
    .col-sm-2
    .col-sm-8
      .calendar
    .col-sm-2
/ #remote_container
%button#myBtn{style: "display: none;"} Open Modal

#myModal.modal
  / Modal content
  .modal-content
    %span.close ×
    %h3 Create Event
    .test




